--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu124

numpy==2.2.1
scipy==1.15.1
pandas==2.2.3
scikit-learn==1.6.1
matplotlib==3.10.0
gpboost==1.6.1
gpytorch==1.13
torch==2.6.0+cu124
optuna==4.1.0
SQLAlchemy==2.0.37
requests==2.32.3
PyYAML==6.0.2
tqdm==4.67.1